@using WatchBoard.Database.Entities
<div class="modal-dialog modal-lg modal-dialog-centered">
    <form class="modal-content" hx-put="/app/items/@(ItemModel.Id)" hx-target="#card-@(ItemModel.Id)" hx-swap="outerHTML">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
                @ItemModel.Name
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details-tab-@(ItemModel.Id)" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                        Details
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="episodes-tab" data-bs-toggle="tab" data-bs-target="#episodes-tab-@(ItemModel.Id)" type="button" role="tab" aria-controls="episodes-tab-pane" aria-selected="false">
                        Seasons
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="provider-tab" data-bs-toggle="tab" data-bs-target="#provider-tab-@(ItemModel.Id)" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                        Watch Options
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="images-tab" data-bs-toggle="tab" data-bs-target="#images-tab-@(ItemModel.Id)" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
                        Images
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings-tab-@(ItemModel.Id)" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
                        Other
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="details-tab-@(ItemModel.Id)" role="tabpanel" aria-labelledby="details-tab-@(ItemModel.Id)" tabindex="0">
                    <div class="pt-3 px-2">
                        @if (ItemModel.Type == ItemType.Tv)
                        {
                            <p><i class="bi bi-collection-play"></i> TV Show <br/>@ItemModel.ReleaseDates()</p>
                        }
                        else
                        {
                            <p><i class="bi bi-camera-reels"></i> Movie <br/>@ItemModel.ReleaseDates()</p>
                        }

                        @if (!string.IsNullOrWhiteSpace(ItemModel.TagLine))
                        {
                            <p>
                                @ItemModel.TagLine
                            </p>
                        }
                        @if (!string.IsNullOrWhiteSpace(ItemModel.Overview))
                        {
                            <p>
                                @ItemModel.Overview
                            </p>
                        }
                        <p>
                            Language: @ItemModel.OriginalLanguage
                            <br/>
                            Country: @ItemModel.OriginCountry
                        </p>
                        @if (ItemModel.SeriesStatus == SeriesStatus.InProgress)
                        {
                            @if (ItemModel.SeriesNextEpisodeNumber == 1)
                            {
                                <p>
                                    Season @(ItemModel.SeriesNextEpisodeSeason) starts @ItemModel.SeriesNextEpisodeDate
                                </p>
                            }
                            else
                            {
                                <p class="text-body-secondary">
                                    <i class="bi bi-info-circle"></i>
                                    S@(ItemModel.SeriesNextEpisodeSeason) E@(ItemModel.SeriesNextEpisodeNumber) premieres
                                    on @ItemModel.SeriesNextEpisodeDate
                                </p>
                            }
                        }
                        <p>
                            <a class="icon-link me-2" href="@(ItemModel.TmdbUrl)">
                                TMDB
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                                </svg>
                            </a>
                            <a class="icon-link" href="@(ItemModel.ImdbUrl)">
                                IMDB
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                                </svg>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="episodes-tab-@(ItemModel.Id)" role="tabpanel" aria-labelledby="episodes-tab-@(ItemModel.Id)" tabindex="0">
                    <div class="pt-3 px-2">
                        <table class="table table-sm table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Episodes</th>
                                <th scope="col">Air Date</th>
                            </tr>
                            </thead>
                            @foreach (var season in ItemModel.GetSeasons().OrderByDescending(x => x.SeasonNumber).Take(12))
                            {
                                <tr>
                                    <td>
                                        @season.SeasonNumber
                                    </td>
                                    <td>
                                        @season.Name
                                    </td>
                                    <td>
                                        @season.EpisodeCount
                                    </td>
                                    <td>
                                        @season.AirDate
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="provider-tab-@(ItemModel.Id)" role="tabpanel" aria-labelledby="provider-tab-@(ItemModel.Id)" tabindex="0">
                    <div class="pt-3 px-2">
                        @foreach (var providerOption in ItemModel.GetProviders())
                        {
                            <div class="form-check">
                                @if (providerOption.Selected)
                                {
                                    <input onchange="enableItemDetailSubmitBtn()" class="form-check-input" type="radio" id="selectedProviderId-@(providerOption.Id)" name="selectedProvider" value="@(providerOption.Id)" checked>
                                }
                                else
                                {
                                    <input onchange="enableItemDetailSubmitBtn()" class="form-check-input" type="radio" id="selectedProviderId-@(providerOption.Id)" name="selectedProvider" value="@(providerOption.Id)">
                                }
                                <label class="form-check-label" for="selectedProviderId-@(providerOption.Id)">
                                    @providerOption.Name
                                </label>
                            </div>
                        }
                        <div class="mt-3 fw-lighter" style="font-size: 0.8em;">
                            Watch provider data supplied by <a href="https://www.justwatch.com/">JustWatch</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="images-tab-@(ItemModel.Id)" role="tabpanel" aria-labelledby="images-tab-@(ItemModel.Id)" tabindex="0">
                    <div class="pt-3 px-2">

                        <div class="d-flex gap-3">
                            <div>
                                @foreach (var i in ItemModel.GetBackdropImages().OrderByDescending(x => x.VoteCount).ThenByDescending(x => x.VoteAverage).Take(12))
                                {
                                    <div class="form-check" hx-indicator="#img-thumbnail-spinner">
                                        @if (i.UrlPath == ItemModel.BackdropUrl)
                                        {
                                            <input hx-get="/app/items/@(ItemModel.Id)/backdrops/@(i.Id)" hx-target="#backdrop-thumbnail" hx-swap="innerHTML" onchange="enableItemDetailSubmitBtn()" class="form-check-input" type="radio" name="selectedImage" id="selectedImageId-@(i.Id)" value="@(i.Id)" checked>
                                        }
                                        else
                                        {
                                            <input hx-get="/app/items/@(ItemModel.Id)/backdrops/@(i.Id)" hx-target="#backdrop-thumbnail" hx-swap="innerHTML" onchange="enableItemDetailSubmitBtn()" class="form-check-input" type="radio" name="selectedImage" id="selectedImageId-@(i.Id)" value="@(i.Id)"/>
                                        }
                                        <label class="form-check-label" for="selectedImageId-@(i.Id)">
                                            <i class="bi bi-image"></i> votes: @i.VoteCount / avg: @i.VoteAverage
                                        </label>
                                    </div>
                                }
                            </div>

                            <div class="position-relative">
                                <div id="backdrop-thumbnail">
                                    <img class="img-thumbnail" src="@(ItemModel.BackdropBase64)" width="200" height="112" alt="@ItemModel.Name"/>
                                </div>
                                <div class="htmx-indicator position-absolute top-0 start-0 ms-3 mt-3" id="img-thumbnail-spinner">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3 fw-lighter" style="font-size: 0.8em;">
                            Image data supplied by <a href="https://developer.themoviedb.org">TMDB</a>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="settings-tab-@(ItemModel.Id)" role="tabpanel" aria-labelledby="settings-tab-@(ItemModel.Id)" tabindex="0">
                    <div class="pt-3 px-2">
                        <button class="btn btn-link link-light link-underline link-underline-opacity-0" hx-put="/app/items/@(ItemModel.Id)/refresh" hx-target="#card-@(ItemModel.Id)" hx-params="none" hx-swap="outerHTML">
                            <i class="bi bi-download me-2"></i>Refresh Metadata from TMDB
                            <div class="htmx-indicator ms-3 spinner-border spinner-border-sm" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </button>
                    </div>
                    <div class="pt-1 px-2">
                        @foreach (var b in Boards)
                        {
                            <button hx-put="/app/items/@(ItemModel.Id)/move/@(b.Id)" hx-swap="delete swap:1s" hx-target="#card-@(ItemModel.Id)" type="button" class="btn btn-link link-light link-underline link-underline-opacity-0">
                                <i class="bi bi-arrow-right me-2"></i>Move item to: @(b.Name)
                            </button>
                        }
                    </div>
                    <div class="pt-1 px-2">
                        <button type="button" class="btn btn-link link-danger link-underline link-underline-opacity-0" hx-swap="delete swap:1s" hx-target="#card-@(ItemModel.Id)" hx-params="none" hx-delete="/app/items/@(ItemModel.Id)" hx-confirm="Are you sure you wish to remove this?" data-bs-dismiss="modal">
                            <i class="bi bi-trash me-2"></i>Delete this item
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" id="itemDetailSubmitBtn" class="btn btn-primary" data-bs-dismiss="modal" disabled>Save
                Changes
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </form>
</div>

@code {

    [Parameter]
    public Item ItemModel { get; set; } = new();

    [Parameter]
    public List<Board> Boards { get; set; } = [];

}