@using WatchBoard.Database.Entities
@foreach (var itemModel in Items)
{
    <div class="card mb-3 bg-body-tertiary">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@(itemModel.PosterUrl)" width="92" height="138" class="img-fluid rounded-start" alt="@itemModel.Name">
            </div>
            <div class="col-md-8">
                <div class="card-body p-2">
                    <h6 class="card-title">
                        <a href="#" class="text-body-emphasis text-decoration-none stretched-link" hx-swap="none" hx-post="/app/items/@(itemModel.TmdbId)?type=@(itemModel.Type.ToString().ToLower())">
                            @itemModel.Name
                        </a>
                    </h6>
                    <p class="card-text">
                        <i class="bi @(itemModel.Type == ItemType.Movie ? "bi-film" : "bi-tv")"></i> @itemModel.ReleaseDates() 
                        @if (itemModel.OriginalLanguage?.ToUpper() != "EN")
                        {
                            <span class="ms-2">[@(itemModel.OriginalLanguage?.ToUpper() ?? "??")]</span>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
}

@code
{
    [Parameter]
    public List<Item> Items { get; set; } = [];

    [Parameter]
    public List<List> Lists { get; set; } = [];
}
