@using WatchBoard.Services.Database.Entities

@foreach (var itemModel in Items)
{
    <div class="card text-bg-dark mb-2" id="card-@(itemModel.Id)">
        <img src="@(itemModel.BackdropUrl)" width="300" height="169" class="opacity-50 card-img" alt="@itemModel.Name">
        <div class="card-img-overlay">
            <div class="position-relative w-100 h-100">
                <div class="position-absolute top-0 end-0">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <i class="bi bi-plus-circle"></i>
                        </button>
                        <ul class="dropdown-menu">
                            @foreach (var l in Lists)
                            {
                                <li>
                                    <button class="btn" hx-swap="none"
                                            hx-post="/app/lists/@(l.Id)/items/@(itemModel.TmdbId)?type=@(itemModel.Type.ToString().ToLower())">
                                        @(l.Name)
                                    </button>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="position-absolute bottom-0">
                    <h5 class="card-title shadow-lg">@itemModel.Name</h5>
                    <div class="card-text">
                        <i class="bi @(itemModel.Type == ItemType.Movie ? "bi-camera-reels" : "bi-tv")"></i> @itemModel.ReleaseDates()
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code
{
    [Parameter]
    public List<Item> Items { get; set; } = [];

    [Parameter]
    public List<List> Lists { get; set; } = [];
}
